@keyframes close {
  0% {
    width: 80%; }
  45% {
    width: 80%; }
  100% {
    width: 10%;
    background-color: #12131C; } }

@keyframes open {
  0% {
    width: 10%; }
  45% {
    width: 10%; }
  100% {
    width: 80%;
    background-color: #707072; } }

@keyframes openLabel {
  0% {
    transform: rotate(-90deg);
    top: 240px;
    color: #707072; }
  45% {
    top: 0px;
    transform: rotate(-90deg); }
  55% {
    transform: rotate(0deg);
    top: 0px;
    left: 0px; }
  100% {
    transform: rotate(0deg);
    top: 0px;
    left: 34%;
    color: #12131C; } }

@keyframes closeLabel {
  0% {
    transform: rotate(0deg);
    top: 0px;
    left: 34%;
    color: #12131C; }
  45% {
    top: 0px;
    transform: rotate(0deg);
    left: 0px; }
  55% {
    top: 0px;
    transform: rotate(-90deg); }
  100% {
    transform: rotate(-90deg);
    top: 240px;
    color: #707072; } }

@keyframes openBar {
  0% {
    width: 0px; }
  55% {
    width: 0px; }
  100% {
    width: 150px; } }

@keyframes closeBar {
  0% {
    width: 150px; }
  45% {
    width: 0px; }
  100% {
    width: 0px; } }

@keyframes openContent {
  0% {
    opacity: 0; }
  45% {
    right: -500px;
    opacity: 0; }
  100% {
    opacity: 1;
    right: 0px;
    z-index: 0; } }

@keyframes closeContent {
  0% {
    opacity: 1; }
  100% {
    opacity: 0;
    z-index: -1; } }

#extra-button {
  display: none; }

#circle-1 {
  cx: 50px;
  cy: 50px;
  r: 50;
  fill: #0296E0; }

#extra-button:checked {
  height: 10px;
  color: yellow; }
  #extra-button:checked + audio {
    content: url(http://www.wavsource.com/snds_2018-06-03_5106726768923853/sfx/typewriter_click.wav); }
  #extra-button:checked + label > svg circle {
    fill: yellow; }
