* {
  text-decoration: none;
  list-style: none;
  padding: none;
  margin: none;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box; }

a {
  color: inherit; }

html {
  height: 100%;
  width: 100%; }

body {
  background: black;
  color: white;
  font-family: 'Roboto', sans-serif;
  margin: 0px;
  height: 100%;
  width: 100%; }

header {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-around;
  height: 15%; }

.accordion {
  background: green;
  height: 85%;
  display: flex;
  flex-flow: row;
  justify-content: space-around; }

.accordion-label {
  display: block;
  color: yellow;
  animation: 2.6s closeLabel;
  animation-fill-mode: both; }

@keyframes closeLabel {
  0% {
    transform: rotate(0); }
  %100 {
    transform: rotate(-90deg); } }

.accordion-content {
  animation: 2.6s closeContent;
  animation-fill-mode: both; }

@keyframes closeContent {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

.accordion-section {
  display: flex;
  flex-flow: row;
  animation: 2.6s close;
  animation-fill-mode: both;
  border: solid grey 1px;
  padding: 1rem; }

@keyframes close {
  0% {
    width: 75%; }
  100% {
    width: 12.5%; } }

input[name='accordion'] {
  display: none; }
  input[name='accordion']:checked + .accordion-section {
    animation: 2.6s open;
    animation-fill-mode: both; }

@keyframes open {
  0% {
    width: 12.5%; }
  100% {
    width: 75%; } }
    input[name='accordion']:checked + .accordion-section > .accordion-label {
      animation: 2.6s openLabel;
      animation-fill-mode: both; }

@keyframes openLabel {
  0% {
    transform: rotate(-90deg); }
  100% {
    transform: rotate(0deg); } }
    input[name='accordion']:checked + .accordion-section > .accordion-content {
      animation: openContent 2.6s;
      animation-fill-mode: both; }

@keyframes openContent {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
