@import 'variables';

@keyframes close {
  0% {
    width: $accordionOpenWidth;
  }
  45% {
    width: $accordionOpenWidth;
  }
  100% {
    width: $accordionCloseWidth;
    background-color: map-get($theme-colors, 'primary');
  }
}

@keyframes close-sm {
  0% {
    height: map-get($accordion-sm, 'open-height');
  }
  100% {
    height: map-get($accordion-sm, 'close-height');
    background-color: map-get($theme-colors, 'primary');
  }
}

@keyframes open {
  0% {
    width: $accordionCloseWidth;
  }
  45% {
    width: $accordionCloseWidth;
  }
  100% {
    width: $accordionOpenWidth;
    background-color: map-get($theme-colors, 'alternate');
  }
}

@keyframes open-sm {
  0% {
    height: map-get($accordion-sm, 'close-height');
  }
  100% {
    height: map-get($accordion-sm, 'open-height');
    background-color: map-get($theme-colors, 'alternate');
  }
}

@keyframes open-label {
  0% {
    transform: rotate(-90deg);
    top: map-get($accordion, 'label-offset');
    color: map-get($theme-colors, 'alternate');
  }
  45% {
    top: 0px;
    transform: rotate(-90deg);
  }
  55% {
    transform: rotate(0deg);
    top: 0px;
    left: 0px;
  }
  100% {
    transform: rotate(0deg);
    top: 0px;
    left: center-position($accordionOpenWidth, $accordionLabelWidth);
    color: map-get($theme-colors, 'primary');
  }
}

@keyframes open-label-sm {
  0% {
    color: map-get($theme-colors, 'alternate');
    left: 0rem;
  }
  100% {
    left: -3rem;
    color: map-get($theme-colors, 'primary');
  }
}

@keyframes close-label {
  0% {
    transform: rotate(0deg);
    top: 0px;
    left: center-position($accordionOpenWidth, $accordionLabelWidth);
    color: map-get($theme-colors, 'primary');
  }
  45% {
    top: 0px;
    transform: rotate(0deg);
    left: 0px;
  }
  55% {
    top: 0px;
    transform: rotate(-90deg);
  }
  100% {
    transform: rotate(-90deg);
    top: map-get($accordion, 'label-offset');
    color: map-get($theme-colors, 'alternate');
  }
}
@keyframes close-label-sm {
  0% {
    color: map-get($theme-colors, 'primary');
    left: -3rem;
  }
  100% {
    color: map-get($theme-colors, 'alternate');
    left: 0rem;
  }
}

@keyframes open-bar {
  0% {
    width: 0px;
  }
  55% {
    width: 0px;
  }
  100% {
    width: 150px;
  }
}
@keyframes open-bar-sm {
  0% {
    width: 0px;
  }
  100% {
    width: 150px;
  }
}

@keyframes close-bar {
  0% {
    width: 150px;
  }
  45% {
    width: 0px;
  }
  100% {
    width: 0px;
  }
}
@keyframes close-bar-sm {
  0% {
    width: 150px;
  }
  100% {
    width: 0px;
  }
}

@keyframes open-content {
  0% {
    opacity: 0;
  }
  45% {
    right: -500px;
    opacity: 0;
  }
  100% {
    opacity: 1;
    right: 0px;
    // z-index: 0;
  }
}

@keyframes close-content {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    // z-index: -1;
  }
}

@keyframes open-content-sm {
  100% {
    // z-index: 10;
  }
}
@keyframes close-content-sm {
  100% {
    // z-index: -1;
  }
}
