@import "variables";

@function center-position($container-width, $element-width) {
  $result: ($container-width - $element-width)/2;
  @return $result;
}

@mixin anim($animation) {
  animation: $accordionTiming $animation;
  animation-fill-mode: both;
  @debug
}
