@import "variables";

@function center-position($container-width, $element-width) {
  $result: ($container-width - $element-width)/2;
  @return $result;
}


@mixin anim($animation) {
  animation-duration: $accordionTiming;
  animation-fill-mode: both;
  animation-name: $animation;
  @media (max-width: $width-bp) {
    animation-name: $animation + '-sm';
    animation-duration: map-get($accordion-sm, 'timing');
  }
}
