$accordionCloseWidth: 10%;
$accordionOpenWidth: 80%;
$accordionTiming: 1s;
$acccordionContentWidth: 60%;
$accordionLabelWidth: 12%;
$accordionLabelHeight: 20%;
$accordion: (
  'closeWidth': 10%,
  'openWidth': 80%,
  'animation-timing': 2s,
  'content-width': 600px,
  'content-height': 600px,
  'label-offset': 240px
);
$theme-colors: (
  'primary': #12131C,
  'secondary': #F2F3FC,
  'accent': #0296E0,
  'alternate': #707072,
);
$images: (
  'background-about': 'yeet'
)
