$accordionCloseWidth: 10%;
$accordionOpenWidth: 80%;
$accordionTiming: 1.3s;
$acccordionContentWidth: 60%;
$accordionLabelWidth: 12%;
$accordionLabelHeight: 20%;
$accordion: (
  'closeWidth': 10%,
  'openWidth': 80%,
  'animation-timing': 2s,
  'content-width': 60%
);
$theme-colors: (
  'primary': #2f67c3,
  'accent': #c20517,
  'shadow': #2d598f,
  'alternate': #ad8070,
  'background': purple
);
$images: (
  'background-about': 'yeet'
)
