$accordionCloseWidth: 10%;
$accordionOpenWidth: 80%;
$accordionTiming: 1s;
$acccordionContentWidth: 60%;
$accordionLabelWidth: 12%;
$accordionLabelHeight: 20%;
$accordion: (
  'closeWidth': 10%,
  'openWidth': 80%,
  'animation-timing': 2s,
  'content-width': 600px,
  'content-height': 600px,
  'label-offset': 240px
);
$theme-colors: (
  'primary': #6f6d69,
  'accent': #ea1f49,
  'shadow': #0e1818,
  'alternate': #a59e96,
  'background': white
);
$images: (
  'background-about': 'yeet'
)
