@import 'variables', 'mixins', 'animations';

#extra-button {
  display: none;
}

#circle-1 {
  cx: 50px;
  cy: 50px;
  r: 50;
  fill: map-get($theme-colors, 'accent');
}

#extra-button:checked {
  height: 10px;
  color: yellow;
  + audio {
    content: url(http://www.wavsource.com/snds_2018-06-03_5106726768923853/sfx/typewriter_click.wav)
  }
  + label {
    > svg {
      circle {
        fill: yellow;
      }
    }
  }
}
