@import 'variables', 'mixins', 'animations', 'extras';

* {
  text-decoration: none;
  list-style: none;
  padding: 0px;
  margin: 0px;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

a {
  color: inherit;
}

html {
  height: 100%;
  width: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0px;
  height: 100%;
  width: 100%;
  background-color: map-get($theme-colors, 'primary');
}

header {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-around;
  height: 100% - map-get($accordion, 'height');
  background: map-get($theme-colors, 'secondary');
  color: map-get($theme-colors, 'primary');
}

.media-link {
  height: 30px;
  width: 30px;
  margin-left: 15px;
  margin-right: 15px;
}

.accordion {
  color: map-get($theme-colors, secondary);
  // height: map-get($theme-colors, 'height');
  display: flex;
  flex-flow: row;
  justify-content: space-around;
}

.accordion-label {
  @include anim(closeLabel);
  z-index: 10;
  height: 2.5rem;
  font-size: 2rem;
  position: relative;
}

.accent-bar {
  @include anim(closeBar);
  background: map-get($theme-colors, 'accent');
  height: .3rem;
}

.accordion-content {
  @include anim(closeContent);
  position: relative;
  height: map-get($accordion, 'content-height');
  width: map-get($accordion, 'content-width');
  margin-top: 1.3rem;
  overflow: scroll;
}

.accordion-section {
  @include anim(close);
  display: flex;
  flex-flow: column;
  align-items: center;
  overflow: hidden;
  background: map-get($theme-colors, 'primary');
  padding: 1.6rem;
}

input[name = 'accordion'] {
  display: none;
  &:checked + .accordion-section {
    @include anim(open);
    > .accordion-label {
      @include anim(openLabel);
      > .accent-bar {
        @include anim(openBar);
      }
    }
    > .accordion-content {
      @include anim(openContent);
    }
  }
}
