@import 'variables', 'functions';

* {
  text-decoration: none;
  list-style: none;
  padding: none;
  margin: none;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

a {
  color: inherit;
}

html {
  height: 100%;
  width: 100%;
}

body {
  background: map-get($theme-colors, 'primary');
  color: white;
  font-family: 'Roboto', sans-serif;
  margin: 0px;
  height: 100%;
  width: 100%;
}

header {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-around;
  height: 15%;
}

.accordion {
  height: 85%;
  display: flex;
  flex-flow: row;
  justify-content: space-around;
}

.accordion-label {
  z-index: 10;
  color: yellow;
  height: 2.5rem;
  font-size: 2rem;
  animation: $accordionTiming closeLabel;
  animation-fill-mode: both;
  position: relative;
  @keyframes closeLabel {
    0% {
      transform: rotate(0deg);
      top: 0px;
    }
    100% {
      transform: rotate(-90deg);
      top: 100px;
    }
  }
}

.accordion-content {
  animation: $accordionTiming closeContent;
  animation-fill-mode: both;
  position: relative;
  background: gold;
  height: 500px;
  width: 500px;
  @keyframes closeContent {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0.2;
    }
  }
}

.accordion-section {
  display: flex;
  flex-flow: column;
  align-items: center;
  overflow: hidden;
  animation: $accordionTiming close;
  animation-fill-mode: both;
  border: solid map-get($theme-colors, 'accent') 1px;
  padding: 1rem;
  @keyframes close {
    0% {
      width: $accordionOpenWidth;
    }
    45% {
      width: $accordionOpenWidth;
    }
    100% {
      width: $accordionCloseWidth;
    }
  }
}

input[name = 'accordion'] {
  display: none;
  &:checked + .accordion-section {
    animation: $accordionTiming open;
    animation-fill-mode: both;
    @keyframes open {
      0% {
        width: $accordionCloseWidth;
      }
      45% {
        width: $accordionCloseWidth;
      }
      100% {
        width: $accordionOpenWidth;
        }
      }
    > .accordion-label {
      animation: $accordionTiming openLabel;
      animation-fill-mode: both;
      @keyframes openLabel {
        0% {
          transform: rotate(-90deg);
          top: 150px;
        }
        45% {
          top: 0px;
          transform: rotate(-90deg);
        }
        55% {
          transform: rotate(0deg);
          top: 0px;
          left: 0px;
        }
        100% {
          transform: rotate(0deg);
          top: 0px;
          left: center-position($accordionOpenWidth, $accordionLabelWidth);
        }
      }
    }
    > .accordion-content {
      animation: openContent $accordionTiming;
      animation-fill-mode: both;
      @keyframes openContent {
        // 0% {
        //   opacity: 0;
        //   right: -500px;
        // }
        45% {
          right: -500px;
        }
        // 55% {
        //   // right: -500px;
        // }
        100% {
          opacity: 1;
          right: 0px;
        }
      }
    }
  }
}
