@import 'variables', 'mixins', 'animations';

#project-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 60%;
  grid-gap: 1rem;
  overflow: visible;
}

.project-description, .project-title {
  color: map-get($theme-colors, primary);
}

.project-card {
  background: map-get($theme-colors, 'secondary');
  padding: .5rem;
  box-shadow:  0px 0px 10px 15px map-get($theme-colors, 'secondary');
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-between;
}

.project-image {
  width: 55%;
}

.project-links {
  display: flex;
  justify-content: space-around;
  width: 80%;
}

.project-link-icon {
  height: 2rem;
}
