@import 'variables', 'mixins', 'animations';

#project-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 50%;
  grid-gap: 1rem;
}

.project-description, .project-title {
  color: map-get($theme-colors, 'secondary');
}
.project-title {
  align-self: flex-start;
}
.project-card {
  padding: 2rem;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-around;
}

.project-image {
  width: 55%;
}

.project-links {
  display: flex;
  justify-content: space-around;
  width: 80%;
  filter: invert(91%) sepia(1%) saturate(3911%) hue-rotate(200deg) brightness(106%) contrast(98%);
  :hover {
    filter: invert(39%) sepia(79%) saturate(2455%) hue-rotate(175deg) brightness(99%) contrast(98%);
  }
}

.project-link-icon {
  height: 2rem;
}

@media (max-width: $width-bp) {
  #project-content {
    grid-template-columns: 1fr;
  }
}
