* {
  text-decoration: none;
  list-style: none;
  padding: none;
  margin: none;
  text-decoration: none;
  list-style: none;
}

a {
  color: inherit;
}

body {
  background: black;
  color: white;
  font-family: 'Roboto', sans-serif;
  display: grid;
}

yeee {
  font-size: 60px;
  position: relative;
  top: 20px;
  color: green;
  animation-name: yeet;
  animation-direction: alternate;
  animation-timing-function: cubic-bezier(-.5, 1, .5, 7);
  animation-iteration-count: infinite;
  animation-duration: 8s;
}

yeee:hover {
  text-shadow: 0px 0px 20px blue;
}

@keyframes yeet {
  25%   {
    top: 20px;
    transform: rotateY(30deg);
  }
  50%   {
    top: 40px;
    transform: rotateY(180deg);
  }
  75%   {
    top: 60px;
    color: green;
    transform: rotateY(45deg);
  }
  100%  {
    top: 80px;
    color: red;
    transform: rotateY(360deg);
  }
}

bees {
  cursor: pointer;
  max-width: auto;
  max-height: auto;
  font-size: 250%;
  position: fixed;
  top: 80%;
  left: 10rem;
  animation: .2s beez;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: cubic-bezier(1, -1, .2, -2);
  background-color: yellow;
  color: black;
  padding: .5rem 1rem;
  box-shadow: 0px 0px 100px yellow;
  border-radius: 25px;
  z-index: 300;
  text-shadow: 0px 0px 100px black;
}

bees:hover {
  animation-duration: .05s;
}

@keyframes beez {
  25% {
    transform: rotateZ(-5deg);
  }
  50% {
    top: 78%;
  }
  75% {
    transform: rotateZ(5deg);
  }
  100% {
    left: 13rem;
    top: 82%;
    background-color: black;
    color: yellow;
    box-shadow: 0px 0px 100px black;
    text-shadow: 0px 0px 100px yellow;
  }
}
