@import url(https://fonts.googleapis.com/css?family=Lobster+Two:700|Oswald:300&display=swap)


$display-font: 'Lobster Two', cursive
$regular-font: 'Oswald', sans-serif

$header-height: 15vh

$accordion-height: 85vh
